body{
font-family: 'Gloria Hallelujah', cursive;
}
.container{
	background-image: url(images/octo%20cat.jpg);
	color: crimson
}
.stert{
	background-color: 00FFB4;
}
.sarv{
	background-color: 07FF0E;
	color: 0300FF;
}
